<div class="modal fade" id="post-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Create exam</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Exam" asp-action="Create" method="post">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" id="txtExamName" class="form-control" name="Name" required>
                        <label class="form-label" for="txtExamName">Exam name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select id="selectLesson" class="form-select" name="LessonId" required>
                            <option value="" disabled selected>Select a lesson</option>
                            @if (ViewBag.Lesson is List<LessonViewModel> lessons && lessons.Any())
                            {
                                @foreach (var lesson in lessons)
                                {
                                    <option value="@lesson.Id">@lesson.Name</option>
                                }
                            }
                            else
                            {
                                <option value="" disabled>No lessons available</option>
                            }
                        </select>
                        <label for="selectLesson">Lesson name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select id="selectStudent" class="form-select" name="StudentId" required>
                            <option value="" disabled selected>Select a student</option>
                            @if (ViewBag.Student is List<StudentViewModel> students && students.Any())
                            {
                                @foreach (var student in students)
                                {
                                    <option value="@student.Id">@student.FirstName @student.LastName</option>
                                }
                            }
                            else
                            {
                                <option value="" disabled>No students available</option>
                            }
                        </select>
                        <label for="selectStudent">Student name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" id="txtExamDate" class="form-control" name="ExamDate" required>
                        <label class="form-label" for="txtExamDate">Exam date</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" id="txtExamResult" class="form-control" name="ExamResult" required>
                        <label class="form-label" for="txtExamResult">Exam result</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnPost" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
